a{display:block;
    width:400px;
    font-size:23.125px;
    color:#3469F9;
    text-decoration:none;
    text-align:center;
    margin:0 auto;}
h1{text-align:center;
    color:#6600CC;
    font-size:42px;}
p{text-align:center;
    background:#FF99CC;
    font-size:16.5px;}
.smalltitle{background:none;
    font-size:28px;}
.backlink{color:#27CFF5;
          padding:10px 0;
          font-size:21px;
         }
